html, body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family:'RobotoDraft', sans-serif;
    font-size: small;
    color: #808080;
}

core-header-panel {
    background-color: #F5F5F5;
    height: 100vh;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-toolbar {
    background-color: #5f7c8a;
    color: white;
    display: block;
    font-size: 2em;
}

#black-bg {
  background: #000;
  cursor: pointer;
  position: fixed;
  visibility: hidden;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: .4;
}

.popup-img-outer {
  display: flex;
}

.popup-img-outer > img {
  margin: 10px auto;
}

.popup-box {
  position: fixed;
  width: 50%;
  margin: auto;
  visibility: hidden;
  z-index: 10;
  overflow-y: auto;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box {
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  margin: 40px auto;
  padding: 20px;
  width: 60%;
}

.hide-me {
  display: none;
}

.box-footer {
  margin: 0 auto 20px auto;
  width: 60%;
}

.row {
  margin: 25px;
}

.row-indented {
  margin: 55px;
}

.row-inner {
  flex: 1 1 auto;
}

.row-content {
  flex: 1 1 auto;
}

.row-text {
  color: #5F7c8A;
}

.row-text-icon {
    display: flex;
}

.row-title {
  color: #5F7c8A;
  font-weight: bold;
}

.row-desc {
  color:  #8c8c8c;
}

.row-desc-wide {
  margin: 15px 0;
}

.row-toggle {
  margin: auto;
}

.row-icon {
  margin: auto;
}

.title-bar-icons {
  right: 17px;
  top: 22px;
  position: absolute;
}

.buttons {
  display: flex;
  margin: 0 0 10px 25px;
}

.button-save {
  background-color: #5f7c8a;
  color: #fff;
}

.button-save:hover {
  background-color: rgba(95, 124, 138, 0.77);
}

.button-cancel {
  background-color: #F5F5F5;
  color: #737373;
}

.button-cancel:hover {
  background-color: rgba(245, 245, 245, 0.77);
}

.button {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5;
  margin: 4px 10px 4px 0;
  padding: 0 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Prevent the scroller from showing in the nav menu button when menu item is
   bolded on hover.  Otherwise, the bolded item will run over the margin. */
paper-dropdown /deep/ #scroller {
    width: 200px;
}

#nav_menu_button {
  top: 3px;
}

.nav_menu_item {
  color: #4072b4;
}

a:link, a:visited {
    color: #4072b4;
}

a:hover {
  font-weight: bold;
}

#search_box {
    position: absolute;
    top: 8px;
}

action-bar {
    border-collapse: collapse;
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

paper-toast {
    background-color: #4072b4;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

table tr:first-child {
    border-left: 0px;
    border-right: 0px;
}

th {
    text-align: left;
    font-weight: normal;
    padding: 15px;
    border-bottom: 1px solid #C0C0C0;
    background-color: #F5F5F5;
}

tr {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    background-color: white;
}

td {
    padding: 15px;
}

td.url, td.referer {
    width: 20%;
    word-wrap: break-word;
    max-width:1px;
}

td.username {
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:1px;
}

td.url:hover, td.username:hover {
    color: #3385FF;
}

td.date {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:1px;
}

td.icons {
    width: 5%;
}
