{% extends "templates/base.html" %}

{% block head %}
  {{ super() }}
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/static/action-bar.html">
{% endblock head %}

{% block content %}
  {% if reports is none %}
    <div align="center">
      <h1>
        {% if search_query is defined %}
          No results found for: {{search_query}}.
        {% else %}
          There are no recent reports.
        {% endif %}
      </h1>
    </div>
  {% else %}
    {% if search_query is defined %}
      <action-bar reportType="{{report_type}}" xsrfToken="{{xsrf_token}}"
        hostStatusName="{{host_status_name}}">
        <span id="actionBarContent">{{search_query}}</span>
      </action-bar>
    {% endif %}
    <table>
      <tr>
        <th></th>
        <th>URL</th>
        <th>Email</th>
        <th>Date</th>
        <th>Referer</th>
      </tr>
      {% for report in reports %}
      <tr>
        <td class="icons">
          <a href="{{report.url}}" target="_blank">
            <paper-icon-button icon="exit-to-app"></paper-icon-button></a></td>
        <td class="url">{{report.url}}
          [<a href="/search/?search_query={{report.host}}">search</a>]</td>
        <td>{{report.email}}
          [<a href="/search/?search_query={{report.email}}">search</a>]</td>
        <td class="date">{{report.date}}</td>
        <td class="referer">{{report.referer}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
