<!DOCTYPE html>

{% autoescape true %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Password Alert</title>
  <link rel="stylesheet" href="/static/base.css">
  <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/bower_components/core-menu/core-menu.html">
  <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="/bower_components/font-roboto/roboto.html">
  <link rel="import" href="/bower_components/paper-dropdown/paper-dropdown.html">
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/bower_components/paper-item/paper-item.html">
  <link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
  <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
  <link rel="import" href="/static/search-box.html">
{% endblock head %}

<!-- The unresolved attribute in the body tag  will prevent FOUC.
     https://www.polymer-project.org/docs/polymer/styling.html#fouc-prevention -->
<body unresolved>
  <core-header-panel>
    <core-toolbar>
      <paper-menu-button id="nav_menu_button">
        <paper-icon-button icon="menu" noink></paper-icon-button>
        <paper-dropdown class="dropdown">
          <core-menu class="menu">
            <paper-item class="nav_menu_item"><a href="/">
              Home</a></paper-item>
            <paper-item class="nav_menu_item"><a href="/hosts">
              Allowed Hosts</a></paper-item>
            <!-- <paper-item class="nav_menu_item"><a href="/settings/">
              Configure Settings</a></paper-item> -->
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>
      <p>{{current_domain}} {% block title %}{% endblock %}</p>
      <search-box id="search_box"></search-box>
      <div class="title-bar-icons">
        <div class="title-bar-icon">
          <!-- <a href="/settings/">
            <img src="https://www.gstatic.com/images/icons/material/system/1x/settings_black_24dp.png" class="title-bar-icon-img">
          </a> -->
        </div>
      </div>
    </core-toolbar>


    <!-- Content -->
    {% block content %}{% endblock %}

    <paper-toast id="hostUpdatedToast" text="The host has been updated."></paper-toast>
    <paper-toast id="passwordExpiredToast" text="User password has been expired."></paper-toast>

    <div class="box-footer">
      <a href="https://github.com/google/password-alert/issues">Password Alert Support</a>
    </div>
  </core-header-panel>

</body>

{% endautoescape %}
