{% extends "templates/base.html" %}

{% block head %}
  {{ super() }}
  <link rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html">
  <link rel="import" href="/bower_components/paper-input/paper-input-decorator.html">
  <link rel="import" href="/bower_components/paper-input/paper-input.html">
  <link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
{% endblock head %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<div class="box">
  {% for setting in settings %}
    <section class="row" name="{{setting.name}}">
    <div class="row-inner">
      <div class="row-content">
        {% if setting.type == 'bool' %}
          <div class="row-text-icon">
            <div class="row-inner">
              <div class="row-title">{{setting.title}}</div>
              <div class="row-desc row-desc-wide">{{setting.desc}}</div>
            </div>
            <div class="row-toggle">
              {% if setting.value.lower() == 'true' %}
                <paper-toggle-button id="{{setting.name}}" checked=true toggles="{{setting.toggles}}">
                </paper-toggle-button>
              {% else %}
                <paper-toggle-button id="{{setting.name}}" checked=false toggles="{{setting.toggles}}">
                </paper-toggle-button>
              {% endif%}
            </div>
          </div>
        {% elif setting.type == 'text' %}
        <div class="row-inner">
          <div class="row-title">{{setting.title}}</div>
          <div class="row-desc">{{setting.desc}}</div>
        </div>
        <div class="row-text">
          <paper-input-decorator  label="">
            <paper-autogrow-textarea id='{{setting.name}}_autogrow'>
              <textarea id='{{setting.name}}' cols='60'
                        class="textareas">{{setting.value}}</textarea>
            </paper-autogrow-textarea>
          </paper-input-decorator>
        </div>
        {% else %}
        <div class="row-inner">
          <div class="row-title">{{setting.title}}</div>
          <div class="row-desc">{{setting.desc}}</div>
        </div>
        <div class="row-text">
          <paper-input-decorator  label="">
            <input is='core-input' id='{{setting.name}}' value='{{setting.value}}'>
          </paper-input-decorator>
        </div>
        {% endif%}
        </div>
      </div>
    </section>
  {% endfor %}
  <section class="row">
    <div class="row-inner">
      <div class="row-content">
        <div class="row-inner">
          <div class="row-title">Where would you like to deploy Password Alert?</div>
        </div>
      </div>
    </div>
  </section>

  <div class="buttons">
    <!--
    <div class="button button-cancel">
      <span class="button-inner">cancel</span>
    </div>
    <div class="button button-save">
      <span class="button-inner">save</span>
    </div>
    -->
    <div class="button button-save" id="button-cros">
      <span class="button-inner">Chrome OS and Chrome Profiles</span>
    </div>
    <div class="button button-save" id="button-windows">
      <span class="button-inner">Microsoft Group Policy</span>
    </div>
    <div class="button button-save" id="button-mac">
      <span class="button-inner">Apple OS X</span>
    </div>
    <div class="button button-save" id="button-linux">
      <span class="button-inner">Linux</span>
    </div>
  </div>
</div>

<div id="black-bg">
</div>
<div id="popup-box-cros" class="box popup-box">
  <h2>Deploy with Chrome OS and Chrome Profiles</h2>

  First download the Chrome configuration file by clicking this button:
  <div class="buttons">
    <div class="button button-save" id="button-download-chrome">
      <span class="button-inner">Download JSON configuration file</span>
    </div>
  </div>

  To upload the Password Alert Chrome extension in the Chrome App management:
  <ol>
    <li>Sign in to <a href="https://support.google.com/a/answer/182076" target="_blank">your Admin console</a>.</li>
    <li>Click Apps > Additional Google services > Chrome Management > App Management > Add custom app.</li>
    <li>Enter the ID and URL value for the custom app and click Add:<br/>
    ID: noondiphcddnnabmjcihcjfbhfklnnep<br/>
    URL: https://clients2.google.com/service/update2/crx<br/>
    </li>
  </ol>

  To push the Password Alert Chrome extension and Chrome Cloud policy:
  <ol>
    <li>In the Chrome App Management view, select the Chrome extension ID (noondiphcddnnabmjcihcjfbhfklnnep) and click User settings.</li>
    <li>Select the organizational unit that you want protected by Password Alert.</li>
    <li>Ensure that Allow installation is enabled (blue bar), using Override, if necessary.</li>
    <li>Click Force installation to enforce the Password Alert Chrome extension installation.</li>
    <li>Under Configure, click Upload configuration file. You may need to click Override if you apply this setting at the organizational unit level.</li>
    <li>Select your managed_policy_values.txt file and click Save.</li>
  </ol>
  <div class="buttons">
    <div class="button button-cancel">
      <span class="button-inner" id="close-popup">Close</span>
    </div>
  </div>
</div>

<div id="popup-box-windows" class="box popup-box">
  <h2>Deploy with Microsoft Group Policy</h2>
</div>

<div id="popup-box-mac" class="box popup-box">
  <h2>Deploy on Apple OS X</h2>
</div>

<div id="popup-box-linux" class="box popup-box">
  <h2>Deploy on Linux</h2>
  First download this configuration file:
  <div class="buttons">
    <div class="button button-save" id="button-download-linux">
      <span class="button-inner">Download JSON configuration file</span>
    </div>
  </div>

  Then place the JSON configuration file in /etc/opt/chrome/policies/managed/ on each machine.<br/>
  For more details, please see
  <a href="https://www.chromium.org/administrators/configuring-policy-for-extensions#TOC-Linux" target="_blank">the Chrome page on configuring extensions by policy</a>.
</div>

<script>
  /**
   * Polymer's autogrow-textarea does not size on initial load. So, we need to wait until polymer's
   * initialization is complete, and then resize the autogrow-textarea.
   */
  window.addEventListener('polymer-ready', function () {
    var els = document.getElementsByClassName('textareas');
    for (var i = 0, el; el = els[i]; i++) {
      el.parentElement.update(el);
    }

    els = document.getElementsByTagName('paper-toggle-button');
    for (var i = 0, el; el = els[i]; i++) {
      var event = new Event('change');
      el.dispatchEvent(event);
    }
  });

  onToggle = function(evt) {
    var toggles = this.getAttribute('toggles');
    if (!toggles) {
      return;
    }
    toggles.split(',').forEach(function(toToggle) {
      var el = document.getElementsByName(toToggle)[0];
      if (this.checked) {
        el.classList.add('row-indented');
        el.classList.remove('hide-me');
      } else {
        el.classList.add('hide-me');
      }
    }.bind(this));
  }

  var els = document.getElementsByTagName('paper-toggle-button');
  for (var i = 0, el; el = els[i]; i++) {
    el.addEventListener('change', onToggle);
  }

  /**
   * Click on black background to close.
   */
  document.getElementById('black-bg').addEventListener('click', function(e) {
    this.style.visibility = 'hidden';
    document.getElementById('popup-box-cros').style.visibility = 'hidden';
    document.getElementById('popup-box-windows').style.visibility = 'hidden';
    document.getElementById('popup-box-mac').style.visibility = 'hidden';
    document.getElementById('popup-box-linux').style.visibility = 'hidden';
  });

  /**
   * Closes popup.
   */
  document.getElementById('close-popup').addEventListener('click', function(e) {
    document.getElementById('black-bg').style.visibility = 'hidden';
    document.getElementById('popup-box-cros').style.visibility = 'hidden';
  });

  /**
   * Opens popup.
   */
  document.getElementById('button-cros').addEventListener('click',
    function(e) {
    document.getElementById('popup-box-cros').style.visibility = 'visible';
    document.getElementById('black-bg').style.visibility = 'visible';
  });

  /**
   * Opens popup.
   */
  document.getElementById('button-windows').addEventListener('click',
    function(e) {
    document.getElementById('popup-box-windows').style.visibility = 'visible';
    document.getElementById('black-bg').style.visibility = 'visible';
  });

  /**
   * Opens popup.
   */
  document.getElementById('button-mac').addEventListener('click',
    function(e) {
    document.getElementById('popup-box-mac').style.visibility = 'visible';
    document.getElementById('black-bg').style.visibility = 'visible';
  });

  /**
   * Opens popup.
   */
  document.getElementById('button-linux').addEventListener('click',
    function(e) {
    document.getElementById('popup-box-linux').style.visibility = 'visible';
    document.getElementById('black-bg').style.visibility = 'visible';
  });

  /**
   * Downloads config.
   */
  document.getElementById('button-download-chrome').addEventListener('click', function(e) {
    window.open('/download-chrome-settings/');
  });

  /**
   * Downloads config.
   */
  document.getElementById('button-download-linux').addEventListener('click', function(e) {
    window.open('/download-linux-settings/');
  });

  document.body.addEventListener('change', function(e) {
    console.log('change', e.target);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/settings/", true);
    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    // TODO(adhintz) encode e.value?
    var value;
    if (e.target.tagName == "PAPER-TOGGLE-BUTTON") {
      value = e.target.checked;
    } else {
      value = e.target.value;
    }
    xhr.send("xsrf={{xsrf_token}}&key=" + e.target.id + "&value=" + value);
  });
</script>

{% endblock %}
