# Can be used during development to associate a dev extension with a deployed managed policy
export DEVELOPMENT_KEY="" 
# Injected into the manifest to associate the extension with an oauth client
export OAUTH_CLIENT_ID=""
